@inherits LayoutComponentBase
@using FoundFlow.Frontend.Components
@inject IJSRuntime JsRuntime
@implements IAsyncDisposable
<div class="d-flex h-100">
    <NavMenu />
    <div class="w-100">
        <div>
            <!-- Top Menu -->
            <nav class="navbar navbar-expand-lg bg-light p-3 d-flex justify-content-end">
                <button id="notification-trigger" type="button" class="btn btn-notification">
                    <i class="feather-bell"></i>
                </button>
            </nav>
        </div>
        <Toast Message="Olá Mundo" />

        <main class="container-fluid">
            @Body
        </main>
    </div>
</div>

@code {

    private IJSObjectReference? module;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            module = await JsRuntime.InvokeAsync<IJSObjectReference>("import",
                "./MainLayout.js");

            await module.InvokeVoidAsync("addHandlers");
        }
    }

    async ValueTask IAsyncDisposable.DisposeAsync()
    {
        if (module is not null)
        {
            await module.DisposeAsync();
        }
    }
}