 <!-- Sidebar -->
<nav id="sidebar" class="bg-light sidebar">
    <div class="sidebar-header">
        <h3>Zunra Dashboard</h3>
    </div>
    <ul class="list-unstyled components">
        <li class="active">
            <a href="#">Dashboard</a>
        </li>
        <li>
            <a href="#">Revenue</a>
        </li>
        <li>
            <a href="#">Wallet</a>
        </li>
        <li>
            <a href="#">Report</a>
        </li>
        <li>
            <a href="#">Settings</a>
        </li>
    </ul>
</nav>