 <!-- Sidebar -->
<nav id="sidebar" class="bg-light sidebar">
    <div>
        <div class="logo pt-4 pb-4">
            <img src="img/logo-with-text-02.svg" alt="Found Flow Logo" />
        </div>
    </div>
    <div class="ps-4 mt-4 mb-1 menu-subtitle">
        <p>MENU PRINCIPAL</p>
    </div>
    <ul class="list-unstyled nav-menu-items">
        <li class="active">
            <a href="#">
                <span class="menu-icon me-2">
                    <i class="feather-bar-chart-2"></i>
                </span>
                Dashboard
            </a>
        </li>
        <li>
            <a href="#">
                <span class="menu-icon me-2">
                    <i class="feather-repeat"></i>
                </span>
                Transações
            </a>
        </li>
        <li>
            <a href="#">
                <span class="menu-icon me-2">
                    <i class="feather-layers"></i>
                </span>
                Categorias
            </a>
        </li>
    </ul>

    <hr class="separator" />
    <div class="ps-4 mt-4 mb-1 menu-subtitle">
        <p>CONTA</p>
    </div>
    <ul class="list-unstyled nav-menu-items">
        <li>
            <a href="#">
                <span class="menu-icon me-2">
                    <i class="feather-user"></i>
                </span>
                Usuário
            </a>
        </li>
        <li>
            <a href="#">
                <span class="menu-icon me-2">
                    <i class="feather-log-out"></i>
                </span>
                Sair
            </a>
        </li>
    </ul>
</nav>