@page "/categoria/gerenciar/{CategoryId?}"

<PageTitle>Found Flow | Categorias</PageTitle>

<div class="pt-3 pb-3">
    <h3>Gerenciar Categorias</h3>
</div>

<div class="card">
    <div class="card-body position-relative">
        Campos
    </div>
</div>

@code {
    [Parameter]
    public string? CategoryId { get; set; }
}