@using System.Globalization
<div class="card col-24 dash-card">
    <div class="card-body">
        <h5 class="card-title">@Title</h5>
        <div class="d-flex flex-row">
            <div class="value">
                <small class="mb-2 d-flex">VALOR</small>
                <p class="card-text">
                    <span class="dash-icon">
                        <i class="@IconClass"></i>
                    </span> 
                    <span class="dash-text">
                        @Value.ToString("C", new CultureInfo("pt-BR"))
                    </span>
                </p>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string? Title { get; set; } = string.Empty;

    [Parameter]
    public decimal Value { get; set; } = 0M;

    [Parameter]
    public string IconClass { get; set; } = string.Empty;
}