<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="/" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap" rel="stylesheet">
    <link href="./bootstrap@5.3.3/css/bootstrap-reboot.min.css" rel="stylesheet">
    <link href="./bootstrap@5.3.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="./bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" rel="stylesheet" />
    <link href="./feather-icons/css/feather.css" rel="stylesheet" />
    <link href="app.css" rel="stylesheet" />
    <link href="favicon.png" rel="icon" type="image/png" />
    <HeadOutlet @rendermode="InteractiveWebAssembly" />
</head>

<body>
    <Routes @rendermode="InteractiveWebAssembly" />
    <script src="./popper.js/umd/popper.min.js"></script>
    <script src="./bootstrap@5.3.3/js/bootstrap.bundle.min.js"></script>
    <script src="./chartjs@4.0.1/js/chart.umd.js"></script>
    <script src="./chartjs@4.0.1/js/chartjs-plugin-datalabels.min.js"></script>
    <script src="./sortablejs@1.15.2/js/Sortable.min.js"></script>
    <script src="script.js"></script>
</body>

</html>
