<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="/" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap" rel="stylesheet">
    <link href="./datatables@2.1.6/datatables.min.css" rel="stylesheet" />
    <link href="./bootstrap@5.3.3/css/bootstrap-reboot.min.css" rel="stylesheet">
    <link href="./bootstrap@5.3.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="./bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" rel="stylesheet" />
    <link href="./feather-icons/css/feather.css" rel="stylesheet" />
    <link href="./notyf@3/notyf.min.css" rel="stylesheet" />
    <link href="./grid24.min.css" rel="stylesheet" />
    <link href="app.css" rel="stylesheet" />
    <link href="media-queries.css" rel="stylesheet" />
    <link href="favicon.png" rel="icon" type="image/png" />
    <HeadOutlet @rendermode="InteractiveWebAssembly" />
</head>

<body>
    <Routes @rendermode="InteractiveWebAssembly" />

    <div id="wasm-error" style="display: none;">
        <p>Este navegador não suporta WebAssembly, necessário para o funcionamento desta aplicação.</p>
    </div>

    <script>
        // Checa suporte ao WASM e exibe uma mensagem se não for suportado
        if (!('WebAssembly' in window)) {
            document.getElementById('app').style.display = 'none';
            document.getElementById('wasm-error').style.display = 'block';
        } else {
            // Carrega Blazor caso o WASM seja suportado
            const script = document.createElement('script');
            script.src = '_framework/blazor.webassembly.js';
            document.body.appendChild(script);
        }
    </script>

    <script src="./jquery@3.7.1/jquery-3.7.1.min.js"></script>
    <script src="./datatables@2.1.6/datatables.min.js"></script>
    <script src="./popper.js/umd/popper.min.js"></script>
    <script src="./bootstrap@5.3.3/js/bootstrap.bundle.min.js"></script>
    <script src="./chartjs@4.4.4/js/chart.umd.js"></script>
    <script src="./chartjs@4.4.4/js/chartjs-plugin-datalabels.min.js"></script>
    <script src="./chartjs@4.4.4/js/chart.script.js"></script>
    <script src="./sortablejs@1.15.2/js/Sortable.min.js"></script>
    <script src="./notyf@3/notyf.min.js"></script>
    <script src="script.js"></script>
</body>
</html>
